.select-business-type__explanation-main {
	p {
		max-width: 540px;
	}
}

.select-business-type__cta-card-main {
	h2 {
		font-size: 21px;
		color: $gray-dark;
		font-weight: 400;
		margin: 10px 0;
	}

	p {
		max-width: 540px;
	}
}

.select-business-type {
	.header-cake {
		margin-bottom: 0px;
	}
}

.select-business-type__explanation {
	display: flex;

	@include breakpoint( "<960px" ) {
		flex-direction: column-reverse;
	}

	h1 {
		color: $gray-dark;
		font-size: 21px;
		font-weight: 400;
		margin: 16px 0;
	}

	p {
		color: $gray-dark;
		font-size: 18px;
		font-weight: 400;
	}

	img {
		max-width: 400px;
		width: 150%;
	}
}

.select-business-type__explanation-main {
	margin: 0 50px 0 15px;
	flex: 2 1;
}
