@keyframes rotate-spinner__right {
	0% {
		transform: rotate( 0deg );
	}
	25% {
		transform: rotate( 180deg );
	}
	50% {
		transform: rotate( 180deg );
	}
	75% {
		transform: rotate( 360deg );
	}
	100% {
		transform: rotate( 360deg );
	}
}

@keyframes rotate-spinner__left {
	0% {
		transform: rotate( 0deg );
	}
	25% {
		transform: rotate( 0deg );
	}
	50% {
		transform: rotate( 180deg );
	}
	75% {
		transform: rotate( 180deg );
	}
	100% {
		transform: rotate( 360deg );
	}
}

.spinner__image {
	display: block;
}

.spinner__border {
	fill: $gray-lighten-20;
}

.spinner__progress {
	animation: 3s linear infinite;
	transform-origin: 50px 50px;
	fill: $blue-medium;
}

// .spinner__progress.is-left {
// 	animation-name: rotate-spinner__left;
// }

// .spinner__progress.is-right {
// 	animation-name: rotate-spinner__right;
// }
